<template name="home">
  <div class="home">
    <nav>
      <h3>
        Create
      </h3>
      <ul>
        <li class="free">
          <span>fr</span><span>ee</span><span> b</span><span>ui</span><span>ld</span>
        </li>
        <li class="mono">
          <span>mo</span><span>no</span><span>ch</span><span>ro</span><span>me</span>
        </li>
        <li class="mono-d">
          <span>mo</span><span>no</span><span> &amp; </span><span>da</span><span>rk</span>
        </li>
        <li class="mono-l">
          <span>mo</span><span>no</span><span> &amp; </span><span>li</span><span>ght</span>
        </li>
        <li class="ana">
          <span>an</span><span>al</span><span>og</span><span>ic</span>
        </li>
        <li class="ana-comp">
          <span>an</span><span>a</span><span> &amp; </span><span>co</span><span>mp</span>
        </li>
        <li class="comp">
          <span>co</span><span>mp</span><span>le</span><span>me</span><span>nt</span>
        </li>
        <li class="triad">
          <span>t</span><span>r</span><span>i</span><span>a</span><span>d</span>
        </li>
        <li class="quad">
          <span>q</span><span>u</span><span>a</span><span>d</span>
        </li>
      </ul>
    </nav>
    <article class="browse">
      
    </article>
    <aside class="profile">
      
    </aside>
    <footer>
      <a href="{{pathFor "help"}}">Help</a>
      <a href="{{pathFor "about"}}">About</a>
      <a href="{{pathFor "legal"}}">Legal</a>
      <div class="social">
        
      </div>
    </footer>
  </div>
</template>